.navbar{
  background-color: $primary;
  padding: $sm 0;
}
.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: $md;
  font-weight: bold;
  text-decoration: none;
}

.brand-logo{
  height: $lg;
  margin-right: 5px;
  margin-bottom: 3px;
  text-decoration: none;
}
