.role-box{
  cursor: pointer;
  border: solid #F1F1F1 0.15rem;
  border-radius: 0.3rem;
}

.role-box:hover{
  border: solid #ff5500 0.15rem;
  background-color: opacify($color: #fccbb2, $amount: 0.1);
}

.role-icon{
  max-width: 10rem;
}