*,
*::after,
*::before{
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.7;
  font-weight: 400;
  font-size: $md;
  background-color: $background;
}

.link {
  color: #000;
  text-decoration: none;
}
.link:hover {
   color: #ff5500;
   text-decoration: none;
}